h1 {
  font-family: "Gluten", cursive;
  font-size: 48px;
  margin: 10px 0;
  color: #ffffff;
}

h3 {
  color: #ffffff;
  font-family: "fantasy", cursive;
}

h5 {
  font-family: monospace;
  font-weight: 600;
  margin-right: 10px;
  position: relative;
  top: 4px;
}

h4 {
  font-family: "fantasy", cursive;
  font-weight: 800;
  color: #ffffff;
}
